.storesStyle{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.wellStore {
  min-height: 18.5em;
  padding: 20px 40px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 300px;
  margin: 15px;
}
.wellStoreDetails {
  font-style: normal;
  margin-top: 15px;
}

.wellStoreDetails p {
  font-size: 15px;
  line-height: 22px;
  color: #4a4a4a;
  height: 15px;
}

.wellStore img {
  margin-bottom: 15px;
  width: 50%;
  border-radius: 100%;
}
.imageDiv {
  height: 100px;
}
.btnGreenFollow {
  padding: 10px 13px;
  border: none;
  background: linear-gradient(180deg, #2bdbc0 0%, #13b58c 100%);
  border-radius: 24px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #ffffff;
}
