.profilecard {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: white;


}

.mycontainer{
    width:80%;
    margin:0 auto;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
}

.userAvatar {
    margin-top: 4px;
    width: 40px;
    border-radius: 50% !important;
}

.btnGreenStyle {
    padding: 8px 13px;
    border: none;
    background: linear-gradient(180deg, #2BDBC0 0%, #13B58C 100%);
    border-radius: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FFFFFF;
    float: right;
}


.profilelist{
    background-color: #fff;
}

.profileinfo{
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        padding: 10rem;
        background-color: white;


}

.button{   
    background: #FFFFFF;
    border: 1.1px solid #FFFFFF;
    color: #13B58C;
    float:right;
}

.logout{
        background: #FFFFFF;
        border: 1.1px solid #FFFFFF;
        color: #13B58C;
        float:left;
}

