.cartContainer {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.productImg {
    float: left;
    left:0;
    border-radius: 15px 0 0 15px;
    background-size: cover;
}


.shippingAddress{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    
}

.payment{
     padding: 4rem;
     background-color: #fff;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 15px;
     margin: 0 auto;
}

.totalCart{
     background-color: #fff;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 15px;
     padding: 15px;

}


 .input {
     border: 1px solid #13B58C;
     border-radius: 24px;
     padding: 10px;
     background: #fff;
     color: #000;
 }

 .shippingAddress {
     padding: 4rem;
     color: #000;
     border-radius: 10px;
     align-items: center;
     
 }

.totalHeader{
    text-align: center;
    color: #4A4A4A;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;  
}

.btnGreenStyle {
    padding: 8px 43px;
    border: none;
    background: linear-gradient(180deg, #2BDBC0 0%, #13B58C 100%);
    border-radius: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FFFFFF;
}

.itemPrice{
    padding-bottom: 10px;
}

.price{
        float:right;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
}

.removeItem{
        font-size: 1.5rem;
        background: none;
        border: 1.1px solid transparent;
        color: #13B58C;
        margin-left: -20px;
}

.itemPrice{
    color: #13B58C;
}

.countButton{

    font-size: 2rem;
    border:1px solid transparent;
    background:#F1F1F1;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.QTY{
    margin-left: -21px;
}

.formPadding{
       padding-top: 70px;
}

.headerStyle{
       font-weight: 500;
       font-size: 36px;
       line-height: 44px;
}

.paymentCard{
       float: right;
       padding-top: 30px;
}

.transactionDetails {
    position: relative;
    left: 10px;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    padding-top: 10px;
}

.bottomDesc {
    margin-bottom: 10px;
}

.bottomDesc img {
    margin-left: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: all .5s;
}

.bottomDesc span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4A4A4A;
    opacity: 0.5;
    position: relative;
    left: 3px;
    top: 3px;
}