.headingTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  float: left;
}
.latestTrend {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 260px;
  overflow: hidden;
}
.latestTrend:hover {
  /* background-color: #4a4a4a; */
}
.latestTrend p {
  padding: 2px 15px;
  font-size: 17px;
  color: black;
}
.storeImage {
  margin-bottom: 15px;
  width: 100%;
  height: 190px;
}
.bottomDesc {
  margin-bottom: 10px;
  padding: 2px;
  display: flex;
  align-items: center;
  position: relative;
}
.bottomDesc img {
  width: 25%;
  margin-left: 10px;
  padding-right: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* border: solid 1px #949ca2; */
  transition: all 0.5s;
}

.bottomDesc span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #4a4a4a;
  opacity: 1;
  left: 20%;
  top: 30%;
  position: absolute;
}
.amountTitle {
  min-width: 100px;
  font-weight: bold;
  font-size: 17px;
  text-align: right;
  padding: 8px 8px;

  color: #13b58c;
}
