.CategoryBox{
  display: flex!important ;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: -12%px;
}

@media only screen and (max-width: 780px) {
  .CategoryBox {
    margin-left: 0px;
    display: grid  !important;
    grid-template-columns: 46% 46%;
    grid-column-gap: 8%;
     /* padding: 0 20px; */
   }
}
 