.borderNone {
    border: none !important;
}


.cardTitle{    
    height: 60px;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.482353px;
    color: #13B58C;
}


.item img{
    width: 75%; 
}

.carousel {
    top: 10%;
}

.carouselCaption {
    position: relative;
    left: auto;
    right: auto;
}