.borderNone {
    border: none !important;
}
.itemImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardTitle{    
    height: 60px;
    padding: 10px 20px;
     margin-bottom: 2em;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.482353px;
    color: #13B58C;
}


.item img{
    width: 75%; 
    height: 80%;
}

.carousel {
    top: 10%;
}

.carouselCaption {
    position: relative;
    left: auto;
    right: auto;
    padding: 10px 30px;
}