.BeforeAuth {
   display: grid;
   width: 100%;
   height:500px;
   grid-template-columns: 50% 50%;
   height: 100%;
}

 .leftDiv {
   z-index: 1;
   margin: auto 0;
    }

.rightDiv {
   z-index: 1;
   color: white;
   padding: 10% 15%;
    background: linear-gradient(180deg, #2bdbc0 0%, #13b58c 100%);
 }

@media only screen and (max-width: 800px) {
   .BeforeAuth {
   display: grid;
   width: 100%;
   height:500px;
   grid-template-columns: 100%;
  
}
.leftDiv{
   display: none;
}
.rightDiv{
  padding: 5%;
}
}
