.wellCategory {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    text-align: center;
    height: 120px;
    box-sizing: border-box;
}

.wellCategory p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    word-break: break-word;
}

.wellCategory img { 
    margin-bottom: 10px;
}
