
.latestTrend {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-sizing: border-box;

}

.latestTrend p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4A4A4A;
    padding-left:10px;
}
.bottomDesc{
    margin-bottom: 10px;
}
.bottomDesc img {
    width: 15%;
    margin-left: 10px;
}

.bottomDesc span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4A4A4A;
    opacity: 0.5;
    position: relative;
    left: 3px;
    top: 3px;
}

.storeImage{
    margin-bottom: 15px;
    width:100%;
}

.amountTitle{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    float: right;
    padding: 8px;
    color: #13B58C;
}