
.addgroup {
  padding: 15px 40px;
  color: #000;
  border-radius: 10px;
}


.input {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ececec;
  border-radius: 5px ;
  padding: 10px 20px;
  color: #000;
  box-shadow: 10px 10px 10px rgb(224, 224, 224);
 }

 .nullValue{
   color: rgba(119, 119, 119, 0.705);
 }
 .singleValue{
   background-color: rgba(177, 176, 176, 0.726);
   padding: 2px 8px;
  }

  .attachMentBox{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    height: 100px;
  }
.groupAvatar{
  height: 100px;
  width: 80%;
}
  .photoUploadButton{
    width: 100%;
    padding: 20px;
    border: 2px dotted  #2bdbc0;
  }