.totalCart {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: absolute;
  width: 350px;
  margin-top: -80px;
}
.totalHeader {
  text-align: center;
  color: #4a4a4a;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background-color: #fafafa;
  padding: 15px;
}
.checkOutBodyPart {
  padding: 15px;
}
.btnGreenStyle {
  padding: 8px 43px;
  border: none;
  background: linear-gradient(180deg, #2bdbc0 0%, #13b58c 100%);
  border-radius: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #ffffff;
}

.price {
  float: right;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.headerStyle {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}
.Modal {
  border-radius: 30px;
  background-color: white;
  position: fixed;
  z-index: 500;
  width: 30%;
  height: 43%;
  padding: 18px;
  left: 35%;
  top: 25%;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.orderSuccessText h4 {
  font-size: 20px;
  font-weight: bold;
}
.orderSuccessButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  text-align: center;
}
.orderSuccessButton button {
  display: block;
  margin: 10px 0px;
  border: none;
  font-size: 18px;
}
.continue {
  background-color: #2bdbc0;
  padding: 10px;
  border-radius: 20px;
  width: 50%;
  color: white;
}
.goToOrders {
  background-color: white;
}
