.breadCrumb {
  padding: 0px 8px 15px;
  margin-bottom: 8px;
  list-style: none;
}

.breadCrumb li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.385882px;
  color: var(--primary_color);
  opacity: 0.7;
}

.noStore {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.385882px;
  margin: 4em 0;
}

.noStore img {
  margin-top: 3em;
}

 
.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--primary_color);
  margin-top: 1em;
}

.storeBanner{
 width: 100%;
 height: 217px;
 overflow: hidden;
background-image: url(../../../assets/images/store/store.svg);
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
 }

  .storeHeader{
   padding-left: 34px;
   padding-right: 50px;
 }
 
 
 
.bannerText {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0523656);
  border-radius: 10px;
  padding: 10px 0px;
  padding-left: 46px;
  padding-right: 75px;
  margin-top: -77px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 126px;
  overflow: hidden;

 }


 .fashionStore{
   display: flex;
    flex-direction: row;
   align-items: center;
   
 }
 .fashionStoreNameBox{
   width: 100%;
   height: 100%;
   margin: auto 0;
   margin-left: 28px;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:flex-start;
 }
.fashionStore h3 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
   letter-spacing: -0.385882px;
  color: #000000;

}

.fashionStore img {
   width:70px;
  height:70px;
  border-radius: 50%;
   overflow: hidden;
}

.fashionStore p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4a4a4a;
  opacity: 0.5;
}


 
 .noListingBox{
   margin: 64px auto;
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

 }

 .noListingBox h3{
   color: black;
   font: 500;
   font-size: 36px;
   margin: 15px 0;
 }
 .noListingBox button{
   color: white;
   margin: 25px 0;
 }
 .noListingBox img{
   width: 30%;
 }

.myStoreProducts{
  margin-top: 90px;
   padding-left: 43px;
  padding-right:38px ;
  display: flex;
  flex-direction: column;
}

 .find {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
   background-color: #f6f9ff;
}

 
.latestTrend {
  background-color: #ffffff;
   border-radius: 4px;
  box-sizing: border-box;
  height: 260px;
  width: 210px;
  margin-right: 16px;
  margin-bottom: 18px;
  overflow: hidden;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.07);
}
.latestTrend:hover {
  /* background-color: #4a4a4a; */
}
.productTitle {
   width: 180px;
  height: 17px;
  margin: 0 auto;
  margin-top: 15px;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4a4a4a;
}
.productImage {
   width: 100%;
  height: 165px;
}
.bottomDesc {
   display: grid;
   grid-template-columns: 10% 40% 40%;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 17px;
  padding: 0 15px;
  position: relative;
}
.bottomDesc img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* border: solid 1px #949ca2; */
  transition: all 0.5s;
}

.bottomDesc span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
 height: 17px;
  color: #4a4a4a;
  opacity: 1;
  overflow: hidden;
}
.amountTitle {
   font-weight: bold;
   font-weight: 600;
  font-size: 15px;
  text-align: right;
  color: var(--primary_color);
  margin: auto 0;
}

@media only screen and (max-width: 768px) {
 
  .myStoreProducts{
    margin-top: 30px;
  }
  .storeHeader{
   padding-left: 34px;
   padding-right: 34px;
 }
 
  .fashionStore img {
   padding-right: 20px;
  width:70px;
  height:70px;
  border-radius: 50%;
  padding: 10px;
}

 .followBtn{
   display: flex;
   justify-content: center;
 }
 .myStoreProducts{
    padding-left: 4%;
  padding-right:4%;
 
}


 .find{
     display: grid;
     grid-template-columns: 48% 48%;
     grid-column-gap: 4%;
      padding: 0 5%; 
      margin: 0;
   }
   .latestTrend{
     width: 100%;
       margin:  10px 0;

   }
 
 
}


@media only screen and (max-width: 560px) {
     .bannerText {
   border-radius: 10px;
   padding: 10px 20px;
   margin-top: -70px;
   display: block;
  align-items: center;
 }
 .find {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: center;
     margin: 0  ;
  }
 .latestTrend {
   width: 100%;
 }
 .bottomDesc {
   padding: 0 10px;
 }
.storeTitle{
  padding-left: 4px;
}
 

}