.header {
  margin-top: 0%;
  display: inline-block;
  padding-right: 38px;
  padding-left: 32px;
  width: 100%;
  height: 97px;
  background: #fefefe;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userArea {
  float: right;
  padding-right: 0;
  position: relative;
}

.userProfile {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.userProfile:hover,
.userProfile:focus {
  text-decoration: none;
}

.userAvatar {
  /* margin-top: 4px; */
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
}
.downArrow {
  margin-left: 14px;
  width: 11px;
  height: 7px;
}

.dropdownMenu {
  border: none;
  left: inherit !important;
  right: 0px;
  top: 55px !important;
  margin: 0;
  max-width: 150px;
  padding: 5px 10px;
  position: absolute;
}
.dropdownMenu a {
  text-decoration: none;
}

.navLink {
  color: #272c33;
  display: block;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 0;
}

.spanName {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--primary_color);
  mix-blend-mode: normal;
  margin-left: 8px;
  position: relative;
}

.cartArea,.cartAreaActive {
  position: relative;
  float: right;
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.cartArea a ,.cartAreaActive a{
  width: 157px !important;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 23px;
}
.cartText {
  margin-left: 8px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  mix-blend-mode: normal;
}

.cartArea a:hover {
  text-decoration: none;
  background-color: #e7f8f3;
}
.cartAreaActive a{
    text-decoration: none;
  background-color: #e7f8f3;
  color: var(--primary_color) ;
}

.countCart {
  /* background-image: url(../../assets/images/header/active/Ellipse\ 3.svg); */
  /* background-position: center;
  background-repeat: no-repeat; */
  background: #FF6262;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  line-height: 14px !important;
  min-width: 20px !important;
  height: 20px  !important;
   position: absolute;
   font-weight: bold;
  top: 0;
   right: 0;
  margin-right: 80px;
 text-align: center;
  border:3px solid #FF6262;
}

@media screen and (max-width: 900px) {
  .spanName {
    display: none;
  }

  .downArrow {
    margin-left: 5px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}
