.header {
  clear: both;
  display: inline-block;
  /* padding: 15px 20px 13px 20px; */
  width: 100%;
}

.userArea {
  float: right;
  padding-right: 0;
  position: relative;
}

.userAvatar {
  margin-top: 4px;
  width: 42px;

  border-radius: 50% !important;
}

.dropdownMenu {
  border: none;
  left: inherit !important;
  right: 74px;
  top: 55px !important;
  margin: 0;
  max-width: 150px;
  padding: 5px 10px;
  position: absolute;
}

.navLink {
  color: #272c33;
  display: block;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 0;
}

.spanName {
  font-size: 18px;
  line-height: 22px;
  color: #4a4a4a;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-left: 20px;
  top: 5px;
  position: relative;
}

.cartArea {
  float: right;
  right: 40px;
  top: 10px;
  position: relative;
}
.cartArea a {
  text-decoration: none;
  padding: 7px 25px;
  color: black;
  font-size: 18px;
  border-radius: 20px;
}

.cartArea a:hover {
  text-decoration: none;
  background-color: #13b58d3b;
}
.cartIcon {
  font-size: 20px;
}
.cartArea a:hover .cartIcon {
  color: #13b58c;
}
.countCart {
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  top: -3px;
  left: 35px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  background-color: #dc3546da !important;
}

.searchResultShowing {
  top: 80px;
  position: absolute;
  background-color: #f6f9ff;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.closeBtn {
  color: #13b58c;
  outline: none;
  border: none;
  font-size: 25px;
  padding: 5px 3px;
}
.notFound {
  background-color: #13b58c;
  color: rgb(19, 18, 18);
  text-align: center;
  width: 40%;
  padding: 10px;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 10px;
}
.find {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background-color: #f6f9ff;
}

.cartBtn {
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 100px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.headingTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  float: left;
}
.latestTrend {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 260px;
  overflow: hidden;
  width: 250px;
  margin: 15px 10px;
}
.latestTrend:hover {
  /* background-color: #4a4a4a; */
}
.latestTrend p {
  padding: 2px 15px;
  font-size: 17px;
  color: black;
}
.storeImage {
  margin-bottom: 15px;
  width: 100%;
  height: 190px;
}
.bottomDesc {
  margin-bottom: 10px;
  padding: 2px;
  display: flex;
  align-items: center;
  position: relative;
}
.bottomDesc img {
  width: 25%;
  margin-left: 10px;
  padding-right: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* border: solid 1px #949ca2; */
  transition: all 0.5s;
}

.bottomDesc span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #4a4a4a;
  opacity: 1;
  left: 20%;
  top: 30%;
  position: absolute;
}
.amountTitle {
  min-width: 100px;
  font-weight: bold;
  font-size: 17px;
  text-align: right;
  padding: 8px 8px;

  color: #13b58c;
}


@media screen and (max-width: 767px) {
.header{display: none;}

}