.storePart{
  position: relative;
}
.headingTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  float: left;
  margin-bottom: 30px;
}
.wellStore {
   height: 260px;
   width:98%;
  padding-top: 31px;
 padding-bottom: 7.34%;
 padding-left: 17px;
 padding-right: 17px;
   /* padding: 25px 40px; */
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   text-decoration: none !important;

}
.wellStore a{
}
.wellStoreDetails {
  font-style: normal;
 }

.wellStoreDetails p {
  font-size: 15px;
  line-height: 22px;
  color: #4a4a4a;
  min-height: 15px;
}
 
.imageDiv img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.btnGreenFollowing {
  padding: 7px 13px;
  border: none;
  background: linear-gradient(180deg, var(--primary_color) 0%, var(--primary_color) 100%);
  border-radius: 24px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #ffffff !important;
  z-index: 10;
  text-decoration: none !important;
}
.btnGreenUnFollowing{
  padding: 10px 13px;
  border: 1px solid var(--primary_color);
  background: white;
  border-radius: 24px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: var(--primary_color) !important;
    z-index: 10;
text-decoration: none !important;
}



@media only screen and (max-width: 600px) {
  

  .wellStore img {
  /* margin-bottom: 25px;
  width: 130px;
   border-radius: 100%; */
}
.wellStoreDetails {
  /* font-style: normal;
  margin-top: 45px; */
}

}

@media only screen and (max-width: 600px) {
.storePart{
    padding-Left: 7%;
  }
  .storePartHeader{
    padding-right: 4%;
  }
  .swiperSlide{
    width: 60% !important;
   }
}
@media only screen and (max-width: 480px) {

  .swiperSlide{
    width: 80% !important;
   }
}
