/* .breadCrumb {
  
  margin-bottom: 8px;
  list-style: none;
}

.breadCrumb li button{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.385882px;
  color: var(--primary_color);
  opacity: 0.7;
  border: none;
  background-color: transparent;
}
  */
.rowBox{
  margin-top:10px ;
  padding-left: 57px;
  padding-right: 31px;

}
.breadCrumb{
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--primary_color);
  display: flex;
  align-items: center;
    font-size: 17px;
  font-weight: 500;
  margin-bottom: 15px; 
}

.Description {
  text-align: justify;
  padding-left: 24px;
  padding-right: 24px;
  background: white;
  padding-top: 1em;
  padding-bottom: 2em;
}
.Description span{
  color:#222222 !important;
font-weight: 600;
 font-size: 14px;
}
.Description p{
   margin-top: 12px;

  font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #4a4a4a;
}

.itemImg img {
  width: 100%;
  padding-bottom: 20px;
}
.fashionStore {
  width: 100%;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fashionStore h3 {
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  margin-top: 0px;
  color: var(--primary_color);
}

.fashionStore h3 a {
  color: var(--primary_color);
}

.fashionStore p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4a4a4a;
  opacity: 0.5;
}

.DetailsLeft {
  font-size: 15px;
  line-height: 15px;
  color: #4a4a4a;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 15px;
  margin-top: 10px;
  clear: both;
  padding-left: 0;
}

.DetailsRight {
  font-size: 15px;
  line-height: 15px;
  color: black;
  margin-bottom: 15px;
  margin-top: 10px;
}

/*  */
.productImageBox {
  background-color: #ffffff;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.productImageBox img{
  width: 100%;
}
.productTitle{
  margin-top: 20px;
}
.productImageBox p {
  font-size: 20px;
  color: black;
  padding-left: 25px;
  padding-bottom: 5px;
}

.details {
  padding: 20px 35px;
}
.additionalDetails {
  padding: 20px 35px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.buttons button,.buttons a {
  font-size: 18px;
}
.buttons a{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .likeBtn button{

   display: flex;
   margin-left: 15px;
  border: none;
  background-color: transparent;

}
.likeBtn button img{
   width: 48px;
  height: 48px;
}

.productImage{
  width: 524px ;
  height: 338px;
 }


@media only screen and (min-width: 1700px) {
.productImage{
  width: 524px;
  height: 400px;
 }


}

/* @media only screen and (max-width: 1100px) {
.productImage{
  width: 524px;
  height: 300px;
 }


} */


@media only screen and (max-width: 989px) {
    .imageBox{
    padding-left: 0px !important;
    padding-right: 0px !important;

   }
.Description{
  margin-bottom: 20px;
}

}



@media only screen and (max-width: 580px) {
.rowBox{
  margin-top: 0px ;
  padding-left: 0px;
  padding-right: 0px;
}
  .imageBox{
    padding-left: 0px !important;
    padding-right: 0px !important;

   }
   .productImageBox{
     width: 100%;
     
     margin-bottom: 5px;

   }
 
   .likeBtn{
      margin-right: 29px;
    }

 
 
}
 