.breadCrumb {
  padding: 0px 8px 15px;
  margin-bottom: 8px;
  list-style: none;
}

.breadCrumb li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.385882px;
  color: #13b58c;
  opacity: 0.7;
}

.Details {
  background: white;
  padding-top: 1em;
  padding-bottom: 2em;
}

.Details h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0;
  color: #4a4a4a;
}

.Details div {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #4a4a4a;
}

.Details span {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4a4a4a;
  opacity: 0.4;
  margin-top: 1em;
  display: block;
}

.Details strike {
  float: right;
  color: #13b58c;
}
.Details strong {
  padding-left: 30px;
  color: #13b58c;
}
.Description {
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: #4a4a4a !important;
  text-align: justify;
  margin-top: 1em;
  padding-bottom: 2em;
}

.itemImg img {
  width: 100%;
}

.fashionStore h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0px;
}

.fashionStore h3 a {
  color: #13b58c;
}

.fashionStore p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4a4a4a;
  opacity: 0.5;
}

hr {
  margin-top: 10px;
  margin-bottom: 15px;
}

.DetailsLeft {
  font-size: 14px;
  line-height: 15px;
  color: #4a4a4a;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 15px;
  margin-top: 10px;
  clear: both;
}

.DetailsRight {
  font-size: 12px;
  line-height: 15px;
  color: #4a4a4a;
  margin-bottom: 15px;
  margin-top: 10px;
}
