.bgSidebar{
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    
}

.logoImage{
    text-align: center;
    margin-bottom: 32px;
}

a {    
    color: #000000;
    
}
@media (min-width: 767px) and (max-width: 1199px){  
    .bgSidebar{
        width: 24%;
    }
}
