

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}
 
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}



.rightTopMargin{
  margin-top: 32px;
}


.bgColor{
  background-color: #f6f9ff;
}