.cartContainer {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.productImg {
  float: left;
  left: 0;
  border-radius: 15px 0 0 15px;
  background-size: cover;
}
.QTY {
  margin-left: -70px;
}
.quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}

.removeItem {
  font-size: 1.5rem;
  margin-left: 25px;
  background: none;
  border: 1.1px solid transparent;
  color: #13b58c;
}
.itemPrice {
  padding-bottom: 10px;
  text-align: end;
  margin-right: -10px;
}
.transactionDetails {
  position: relative;
  left: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  padding-top: 10px;
}

.bottomDesc {
  margin-bottom: 10px;
}

.bottomDesc img {
  margin-left: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  transition: all 0.5s;
}

.bottomDesc span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4a4a4a;
  opacity: 0.5;
  position: relative;
  left: 3px;
  top: 3px;
}
