.wishListsBox{
    padding-left: 43px;
    padding-right:38px ;
}

.SortbyMenu {
  background: none !important;
  border: none;
  padding-top: 0.8rem;
  float: left;
  font-weight: bold;
}

.pageTitle {
  font-weight: bold;
  font-size: 3rem;
  top: -0.9rem;
  margin-bottom: 17px;
}

.wishList {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.latestTrend {
  background-color: #ffffff;
   border-radius: 4px;
  box-sizing: border-box;
  height: 260px;
  width: 210px;
  margin-right: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.07);
}
.latestTrend:hover {
  /* background-color: #4a4a4a; */
}
.storeTitle {
  width: 180px;
  height: 17px;
  margin: 0 auto;
  margin-top: 15px;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4a4a4a;
}

.latestTrend p {
  /* padding: 2px 8px; */
  /* font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--primary_color); */
}
.storeImage {
  width: 100%;
  height: 165px;
}
.bottomDesc {
   display: grid;
   grid-template-columns: 10% 40% 40%;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 17px;
  padding: 0 15px;
  position: relative;
}
.bottomDesc img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* border: solid 1px #949ca2; */
  transition: all 0.5s;
}

.bottomDesc span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
 height: 17px;
  color: #4a4a4a;
  opacity: 1;
  overflow: hidden;
}
.amountTitle {
   font-weight: bold;
   font-weight: 600;
  font-size: 15px;
  text-align: right;
  color: var(--primary_color);
  margin: auto 0;
}


/* @media only screen and (max-width: 780px) {
  .pageTitle{
      padding: 0 5%;
  }
   .wishList{
     display: grid;
     grid-template-columns: 48% 48%;
     grid-column-gap: 4%;
      padding: 0 5%; 
      margin: 0;
   }
   .latestTrend{
     width: 100%;
      margin:  10px 0;

   }
 
.bottomDesc img{
  width: 15%;
  height: 100%;
}
} */




@media only screen and (max-width: 780px) {
  .wishListsBox{
      padding-left: 4%;
    padding-right:4% ;
  }
.wishList{
  justify-content: center;
}
}
@media only screen and (max-width: 500px) {
  .wishList {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
     margin: 0;
  }
 

 
}
@media only screen and (max-width: 490px) {
  .wishList {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: center;
     margin: 0  ;
  }
 .latestTrend {
   width: 100%;
 }
 .bottomDesc {
   padding: 0 10px;
 }
 .storeTitle{
   padding-left: 4px;
 }

 
}
